:root {
    --background-color: #0E0E0E;
    --color: #E8E8E3;
}

::selection {
    color: #323232;
    background: #E8E8E3;  
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100vw;
}

body {
    background-color: var(--background-color);
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    color: var(--color);
    width: 100%;
    height: 100%;
    margin: 0;
}

main {
    margin: 0 0 0 20px;
}

.blur {
    z-index: -1;
    -webkit-backdrop-filter: blur(200px);
    backdrop-filter: blur(200px);
    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.customBackground {
    z-index: -2;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
   
    transition: background-color 2s ease-in-out;
}

button {
    color: var(--color);
    border: solid 2px var(--color);
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 20px;

    box-shadow: 0 8px 32px 0 #0000005e;

    background-color: var(--background-color);
    transition:all 0.5s ease;
    margin: auto;
}

button:hover {
    background-color: var(--color);
    color: var(--background-color);
}

h1 {
    font-size: 5rem;
    margin-top: auto;
}

h2 {
    font-size: 3rem;
    margin-top: auto;
    font-style: italic;
    margin: 0;
}

h3 {
    font-size: 2rem;
    margin-top: auto;
    margin: 0;
    margin-left: 20px;
}

a {
    font-size: 2rem;
    margin-top: auto;
    margin: 0;
    margin-left: 20px;

    font-weight: bold;

    color: var(--color);
    text-decoration: none;
    text-decoration: underline;

    transition: all 0.5s ease;
}

a:hover {
    font-size: 2.5rem;
    transition: all 0.5s ease;
    color: #1D1D1F;
}

.GitHubBtn {
    text-decoration: none;
    text-align: center;

    display: flex;
    justify-content: center;

    margin: 20px auto;
}

.backBtn {
    position: absolute;
    top: 30px;
    right: 20px;
}

.lightMode {
    background-color: #ffffff;
    color: #1D1D1F;
}

.lightMode a {
    color: #1D1D1F;
}

.themeButton {
    border: none;
    background-color: #ffffff00;
    color: #ffffff;
    height: 35px;
    width: 30px;
    font-size: 200%;
    border-radius: 50%;
    padding: 0;
    padding-bottom: 2.5px;
    box-shadow: none;
    background: none;
    margin-right: 0;

    position: absolute;
    top: 30px;
    right: 150px;
}

.themeButton:hover {
    background-color: #ffffff00;
}

.sunIcon {
    height: 30px;
    padding: 5px 0 0 0;
}

.moonIcon {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.sunIcon {
    filter: brightness(0);
}

.moonIcon {
    height: 30px;
    padding: 5px 0 0 0;
}

@media screen and (max-width: 450px) {

    .backBtn {
        display: none;
    }

    .themeButton {
        border: none;
        background-color: #ffffff00;
        color: #ffffff;
        height: 50px;
        width: 50px;
        font-size: 200%;
        border-radius: 50%;
        padding: 0;
        padding-bottom: 2.5px;
        left: 10px;
        position: fixed;
        bottom: 10px;
        top: auto;
        right: auto;
    }
}