:root {
    --background-color: #101010;
    --color: #ffffff;
  }

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    color: #ffffff;
    overflow: hidden;

    background-size: 40px 40px;
    background-image: radial-gradient(circle, #ffffff 1px, #00000000 1px);
}

header button {
    color: #ffffff;
    border: solid 2px #ffffff;
    padding: 10px 25px;
    margin-right: 50px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;

    background: linear-gradient(to right, var(--background-color) 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    margin-left:10px;
    transition:all 0.5s ease;
}

header button:hover {
    background-position:right top;
    color: var(--background-color);
}

header h1 {  
    margin: 0;
    width: auto;
    padding: 0 0 0 20px;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;

    width: 100vw;
    height: 60px;
    position:fixed;
    top:0;
}

.cta {
    margin-left: auto;
}

nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.about a, .contact a {
    color: #0366D6;
    text-decoration: none;
}

.about .wave {
    vertical-align: -0.2em !important; 
}
.about a:hover, .contact a:hover {
    border-color: #0366D6;
    border-bottom: 1px solid #0366D6;
}
.about, .contact {
    width: 750px;
    margin: 80px auto;
    padding: 0;
    display: flex;
}

.projects {
    display: flex;
    align-items: center;
}

.title-container {
    width: 750px;
    margin: 80px auto;
    padding: 0;
    display:flex;
}

section {
    width: 100vw;
    height: 100vh;
    align-items:center;
}

.title-container h1 {
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 0;
    margin-left: 25px;
}

@media screen and (max-width: 450px) {
    .about {
        width: 100%;
        margin: 0;
    }
}