:root {
    --background-color: #0E0E0E;
    --color: #ffffff;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
    background: #f1f1f100; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00000000; 
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #303030; 
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    color: var(--color);

    background-size: 40px 40px;
    background-image: radial-gradient(circle, #ffffff 1px, #00000000 1px);
}

header button {
    color: #ffffff;
    border: solid 2px #ffffff;
    padding: 10px 25px;
    margin-right: 50px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;

    box-shadow: 0 8px 32px 0 #0000005e;

    background: linear-gradient(to right, var(--background-color) 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    margin-left:10px;
    transition:all 0.5s ease;
}

nav {
    background: #00000040;
    box-shadow: 0 8px 32px 0 #0000005e;
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 50px;

    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
    border: solid 2px #30303040;
    padding: 7px 6px 7px 6px;
}

nav:hover {
    background: #26262640;
}

header button:hover {
    background-position:right top;
    color: var(--background-color);
}

header h1 {  
    margin: 0;
    width: auto;
    padding: 0 0 0 20px;

    box-shadow: 0 8px 32px 0 #0000005e;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;

    width: 100vw;
    height: 60px;
    position:fixed;
    top: 0;
    margin-top: 30px;
}

.nav_links a {
    display: inline-block;
    padding: 0px 20px;

    border-radius: 20px;

    background-color: #30303040;
    padding: 7px 15px 7px 15px;
    margin: 0px 5px 0px 5px;
}

.nav_links a:hover {
    background-color: #30303084;
}

.nav_links {
    padding-left: 0px;
    top: 40px;
}

.about a, .contact a {
    color: #0366D6;
    text-decoration: none;
}

.about .wave {
    vertical-align: -0.2em !important; 
}
.about a:hover, .contact a:hover {
    border-color: #0366D6;
    border-bottom: 1px solid #0366D6;
}
.about, .contact {
    width: 750px;
    margin: 80px auto;
    padding: 0;
    display: flex;
}

.projects {
    display: flex;
    align-items: center;
}

.title-container {
    width: 750px;
    margin: 0px auto;
    padding: 0;
    display:flex;
}

section {
    width: 100vw;
    height: 100vh;
    align-items:center;
}

.title-container h1 {
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 0;
    margin-left: 25px;
}

@media screen and (max-width: 450px) {
    .title-container, .about {
        width: 100%;
        margin: 0;
    }

    nav {
        margin-left: 50px;
    }

    header h1 {
        display: none;
    }
}
