@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  color: #555;
  background-color: #2f2f2f;
  margin: 0;

  font-family: 'Montserrat',sans-serif;
}

#header {
  background-color: #F6A623;
  height: 150px;
  line-height: 150px;
}

#header-title {
  display: block;
  float: left;

  font-size: 20px;
  font-weight: bold;
}

#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}

#header-nav li {
  display: inline;
  padding-left: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

#header a {
color: white;
text-decoration: none;

text-transform: uppercase;
letter-spacing: 0.1em;
}

#header a:hover {
  color: #222;
}

#footer {
  background-color: #0d0c0b;
  padding: 50px 0;
}

.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer p {
  color: white;
}
a {
  color: #F6A623;
  text-decoration: none;
}

a:hover {
  color: #1abc9c;
}

.post, .about, .contact {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

.post-author {
  color: #F6A623;
}

.post-title {
  color: #1abc9c;
}

.about-content, .contact-content {
  color: #D2D2D2;
}

.post-content {
  color: white;
}

.about, .contact {
  text-align: center;
}

.post-author img, .about-author img, .contact-author img{
  border-radius: 50%;
}

.post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.post-author span {
  margin-left: 16px;
}

.post-date {
  color: #D2D2D2;

  font-size: 14px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1, h1, h3, h4, {
  color: #333;
}

p {
  line-height: 1.5;
}

.post-container:nth-child(even) {
background-color: #333333;
}

.contact-title, .about-title {
  color: white;
}

.post-author img:hover {
  filter: brightness(0.7);
}
